.base {
  font-family: var(--fontSecondary);
  font-weight: bold;
}

.xlarge {
  composes: base;
  font-size: 49px;
  line-height: 54px;
  margin: 72px 0 36px 0;
}

.large {
  composes: base;
  font-size: 39px;
  line-height: 48px;
  margin: 48px 0 24px 0;
}

.medium {
  composes: base;
  font-size: 31px;
  line-height: 36px;
  margin: 36px 0 18px 0;
}

.small {
  composes: base;
  font-size: 25px;
  line-height: 30px;
  margin: 24px 0 12px 0;
}

.xsmall {
  composes: base;
  font-size: 20px;
  line-height: 24px;
  margin: 24px 0 12px 0;
}

.xxsmall {
  composes: base;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0 6px 0;
}
