{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./lib"
        }
      }
    ],
    "@babel/plugin-transform-react-display-name"
  ]
}
