# General
*.log
.DS_Store

# Sensitive
.env*

# Node
node_modules

# Output
dist/
storybook-static
coverage
.storybook-out/
lefthook-local.yml
report.*.json
examples/simple-app/design_tokens+local.css
.cache
