.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--slateDarker), 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.small {
  padding: 25px 24px;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: 0 0 4px 1px rgba(var(--black), 0.3);
  box-sizing: border-box;
  max-width: 450px;
}

.large {
  padding: 25px 24px;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: 0 0 4px 1px rgba(var(--black), 0.3);
  box-sizing: border-box;
  max-width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  color: var(--slateDarkest);
  font: var(--heading-xxs);
  line-height: 24px;
}

.content {
  margin-top: 12px;
}

.footer {
  margin-top: 24px;
}

.closeButton {
  color: var(--slateDarkest);
  font-size: 16px;
  padding: 0;
  border: none;
  outline: none;
}

.closeButton:active {
  color: var(--slatePrimary);
}
