.container {
  width: 100%;
  font: var(--small);
  z-index: 1;
}

/*
  It's not possible to declare ::before with inline js styles.
  We need this ::before to hide menu shadow under control.
 */
.container :global(.select__menu)::before {
  content: '';
  position: absolute;
  box-shadow: 0 1px 4px 1px rgba(var(--blueDarker), 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container :global(.select__control)::before {
  content: '';
  position: absolute;
  box-shadow: 0 1px 4px 1px rgba(var(--blueDarker), 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  visibility: hidden;
}

.container :global(.select__control--is-focused)::before,
.container :global(.select__control:hover)::before {
  visibility: visible;
}
