html {
  /* TODO: discuss with team if 62.5% or 100% is preferrable */

  /* why? 62.5% = 10px = 1em / 1rem in most browsers */
  font-size: 62.5%;

  /* why? 100% = 16px = 1em / 1rem in most browsers */
  /* font-size: 100%;  */
  height: 100%;
}

body {
  height: 100%;
}

:global(#root) {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 100%;

  /*
    As soon as loki introduces some way
    to distinguish whether we run VRT or not,
    we can add some checkbox to enable/disable
    caret blinking for manual testing and hide
    this checkbox in VRT. See: https://github.com/oblador/loki/issues/109
  */
  caret-color: transparent !important;
}