html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
}

:global(#root) {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100%;

  /*
    As soon as loki introduces some way
    to distinguish whether we run VRT or not,
    we can add some checkbox to enable/disable
    caret blinking for manual testing and hide
    this checkbox in VRT. See: https://github.com/oblador/loki/issues/109
  */
  caret-color: transparent !important;
}