:root {
  --mainBorderWidth: 9px;
  --secondaryBorderWidth: 6px;
  --arrowMargin: 24px;
  --arrowMarginCalculated: calc(var(--mainBorderWidth) + var(--arrowMargin));
  --cursorMargin: 28px;
}

._container {
  padding: 8px 10px;
  text-align: center;
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  background: var(--slateDarkest);
  border-radius: 2px;
  font-family: var(--fontPrimary);
  z-index: 2;
}

.container-top-start {
  composes: _container;
  /* stylelint-disable-next-line length-zero-no-unit */
  transform: translate(calc(0px - var(--arrowMarginCalculated)), calc(-100% - var(--cursorMargin)));
}

.container-top-middle {
  composes: _container;
  transform: translate(-50%, calc(-100% - var(--cursorMargin)));
}

.container-top-end {
  composes: _container;
  transform: translate(calc(-100% + var(--arrowMarginCalculated)), calc(-100% - var(--cursorMargin)));
}

.container-right-start,
.container-right-middle,
.container-right-end {
  composes: _container;
  transform: translate(var(--cursorMargin), -50%);
}

.container-bottom-start {
  composes: _container;
  /* stylelint-disable-next-line length-zero-no-unit */
  transform: translate(calc(0px - var(--arrowMarginCalculated)), var(--cursorMargin));
}

.container-bottom-middle {
  composes: _container;
  transform: translate(-50%, var(--cursorMargin));
}

.container-bottom-end {
  composes: _container;
  transform: translate(calc(-100% + var(--arrowMarginCalculated)), var(--cursorMargin));
}

.container-left-start,
.container-left-middle,
.container-left-end {
  composes: _container;
  transform: translate(calc(-100% - var(--cursorMargin)), -50%);
}

._arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: var(--mainBorderWidth) solid var(--slateDarkest);
}

._arrow-top {
  composes: _arrow;
  top: 0;
  transform: translate(-50%, -100%);
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: var(--secondaryBorderWidth);
}

.arrow-top-start {
  composes: _arrow-top;
  left: var(--arrowMarginCalculated);
}

.arrow-top-middle {
  composes: _arrow-top;
  left: 50%;
}

.arrow-top-end {
  composes: _arrow-top;
  left: calc(100% - var(--arrowMarginCalculated));
}

._arrow-left {
  composes: _arrow;
  left: 0;
  transform: translate(-100%, -50%);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-width: var(--secondaryBorderWidth);
}

.arrow-left-start,
.arrow-left-middle,
.arrow-left-end {
  composes: _arrow-left;
  top: 50%;
}

._arrow-right {
  composes: _arrow;
  right: 0;
  transform: translate(100%, -50%);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-width: var(--secondaryBorderWidth);
}

.arrow-right-start,
.arrow-right-middle,
.arrow-right-end {
  composes: _arrow-right;
  top: 50%;
}

._arrow-bottom {
  composes: _arrow;
  bottom: 0;
  transform: translate(-50%, 100%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-width: var(--secondaryBorderWidth);
}

.arrow-bottom-start {
  composes: _arrow-bottom;
  left: var(--arrowMarginCalculated);
}

.arrow-bottom-middle {
  composes: _arrow-bottom;
  left: 50%;
}

.arrow-bottom-end {
  composes: _arrow-bottom;
  left: calc(100% - var(--arrowMarginCalculated));
}
