.sortUp {
  position: relative;
  text-align: center;
  margin-bottom: 3px;
  height: 6px;
  width: 12px;
}

.sortUp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5px;
  border-radius: 2px;
  width: 51%;
  background: var(--slateLighter);
  transform: skew(0deg, -45deg);
}

.sortUp::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5px;
  border-radius: 2px;
  width: 50%;
  background: var(--slateLighter);
  transform: skew(0deg, 45deg);
}

.sortDown {
  composes: sortUp;
  transform: rotate(180deg);
}

.active::before,
.active::after {
  background: black;
}
