.sortUp {
  /*
    arrows are block elements, so we need to set width for them to prevent stretching.
    width is 0 since they're getting size from the border-width
  */
  position: relative;
  text-align: center;
  /* padding: 12px; */
  margin-bottom: 3px;
  height: 6px;
  width: 12px;
}

.sortUp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5px;
  border-radius: 2px;
  width: 51%;
  background: var(--alto);
  transform: skew(0deg, -45deg);
}

.sortUp::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5px;
  border-radius: 2px;
  width: 50%;
  background: var(--alto);
  transform: skew(0deg, 45deg);
}

.sortDown {
  composes: sortUp;
  transform: rotate(180deg);
}

.active::before, .active::after {
  /* border-bottom-color: var(--bluePrimary); */
  background: black;
}
