.sorter {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

.clickable {
  cursor: pointer;
}

.headerCell {
  font-family: var(--fontPrimary);
  font-weight: normal;
  padding: 10px 5px;
  font-size: 1.4rem;
}

.min {
  width: 1px;
  word-break: keep-all;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
